*{
    padding: 0px;
    margin: 0px;
    text-decoration: none;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: sans-serif;
}

h1{font-size: 2.25em;}
h2{font-size: 1.8em;}
h3{font-size: 1.25em;}
p{font-size: 1.1em;}

header{
    background-color: rgba(53, 53, 53, 0.5);
    justify-content: space-between;
    height: 10vh;
    border-bottom: 5px solid rgba(27, 27, 27, 0.5);
    display: flex;
    flex-direction: row;
    padding: 20px 20px;
}

ul, ol{
    list-style: none;
    font-weight: bold;
    display: block;
}

li{
    display: block;
}

li a{
    color: white;
    font-size: 20px;
}

ul li a:hover{
    color: gray;
}

ul li{
    background-color: darkred;
    padding: 5px 8px;
}

li ul li{
    background-color: gray;
}

li ul li a:hover{
    color: darkred;
}

li ul{
    display: none;
    position: absolute;
}

ul li:hover > ul{
    display: block;
}

#logo h2{
    color: darkred;
    line-height: 4vh;
}

li a{
    line-height: 3vh;
}

#menu-pc{
    display: none;
}

@media (min-width:900px){
    header{
        display: flex;
        flex-direction: row;
    }

    #menu-pc{
        display: flex;
        line-height: 5vh;
        text-decoration: none;
        font-weight: bold;
    }

    #menu-pc a{
        color: black;
        padding: 0px 10px;
    }

    #menu-pc a:hover{
        color: white;
    }

    #menu{
        display: none;
    }

    #prod .carta{
        width: 600px;
        text-align: center;
        align-items: center;
        justify-content: center;
        display: inline-block;
    }

    #cont h3{
        width: 1000px;
        display: inline-block;
        text-align: center;
    }

    #nosotros{
        padding: 150px 100px;
    }
}

button{
    font-size: 1.25em;
    color: white;
    background-color: darkred;
    border: 3px solid rgba(0, 0, 0, 0.5);
    padding: 3px 15px;
    border-radius: 10px;
    font-weight: bold;
}

button:hover{
    color: rgb(100,0,0);
}

#hero{
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("media/hero.jpg");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    align-items: center;
    text-align: center;
    justify-content: center;
    height: 90vh;
    display: flex;
    flex-direction: column;
}

#hero h1{
    color: white;
    padding-bottom: 10px;
    font-size: 3em;
    font-weight: 790;
}

#hero button{
    font-size: 2em;
}

#nosotros{
    align-items: center;
    text-align: center;
    justify-content: center;
    padding: 150px 50px;
}

#nosotros p{
    font-weight: bold;
}

#nosotros h1{
    padding-bottom: 8px;
}

#nosotros a{
    text-decoration: none;
    color: darkred;
}

#nosotros a:hover{
    color: rgb(100,0,0);
}

#prod{
    background-color: rgb(30, 30, 30);
    color: white;
    padding: 150px 18px;
    align-items: center;
    text-align: center;
    justify-content: center;
}

#prod h1{
    padding-bottom: 18px;
}

#prod h3{
    padding-bottom: 5px;
}

#prod p{
    padding-bottom: 5px;
}

#prod .carta{
    padding-bottom: 20px;
}

.carta{
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    padding-top: 15px;
    border-radius: 100px;
    margin: 10px;
    border: 1px solid white;
}

.carta:first-child{
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("media/manzanas.jpg");
}

.carta:nth-child(2){
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("media/peras.jpeg");
}

#cont{
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("media/whatsapp.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    color: black;
    padding: 200px 15px;
    text-align: center;
}

#cont h3{
    border: 2px solid darkred;
    background-color: white;
    border-radius: 100px;
    margin: 2px;
}

footer{
    text-align: center;
    padding: 20px 12px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
}

c{color: darkred;}
b{font-weight: bold;}